{% extends 'base.html.twig' %}

{% block title %}Créer un thread{% endblock %}

{% block main %}
    {% if app.user == null %}
        <script>
            window.location.href = "{{ path('app_login') }}";
        </script>
    {% endif %}

    {% if app.user %}
        <h1>Créer un thread</h1>

        {{ form_start(formThread) }}
            {{ form_row(formThread.title) }}
            {{ form_row(formThread.description) }}
            {{ form_row(formThread.body) }}
            {{ form_row(formThread.relation_category)}}
            <button type="submit" class="btn btn_full">Créer</button>
        {{ form_end(formThread) }}

    {% endif %}
    
{% endblock %}