<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_homepage') }}">
        <img src="{{ asset('img/logo_threadplon_full.png') }}" alt="logo Thread-plon">
    </a>
    <div>      
      {% if app.user %}
        <form class="container-fluid justify-content-start">
          <a href="{{ path('app_user', {'id' : app.user.id}) }}" class="btn">{{ app.user.username }}</a>
          <a href="{{ path('app_logout') }}" class="btn btn_full">Logout</a>
        </form>
      {% else %}
        <form class="container-fluid justify-content-start">
            <a href="{{ path('app_login') }}" class="btn btn-outline btn_outline" type="button">Se connecter</a>
            <a href="{{ path('app_register') }}" class="btn btn_full" type="button">S'inscrire</a>
        </form>
      {% endif %}

    </div>
  </div>
</nav>