{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block main %}
    {% if id == app.user.id %}
        {# Page privé #}
        <h1>{{ user.username }}</h1>

        <div class="d-flex justify-content-between">
            <div>
                <p>{{ "Compte créer le " ~ user.createdAt|date('d/m/Y') }}</p>
                {% if user.dateUpdate != null %}
                    <p>{{ "Modifié le " ~ user.dateUpdate|date('d/m/Y') }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column">
                <a href="{{ path('app_editUser', {id: user.id}) }}" class="btn btn_full">Modifier</a>
                <form action="{{ path('app_deleteUser', {id: user.id}) }}" method="post">
                    {# Pour rendre le DELETE actif, aller dans config, packages, framework pour y ajouter : http_method_override: true #}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn_outline">Supprimer</button>
                </form>
            </div>
        </div>


        <h2>Threads créer</h2>
        {% for thread in user.relationThread %}
            <div class="lineThread">
                <div class="d-flex align-items-center">
                    <h3>{{ thread.title }}</h3>
                    <p class="ms-4 mb-0">{{ "Posté le " ~ thread.createdAt|date('d/m/Y') ~ " à " ~ thread.createdAt|date('H:i')}}</p>
                </div>
                <div class="tags">
                    {% for category in thread.relationCategory %}
                        <p class="tag">{{ category.title }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if id != app.user.id %}
        {# Page publique #}
        <h1>{{ user.username }}</h1>

        <div>
            <p>{{ "Compte créer le " ~ user.createdAt|date('d/m/Y') }}</p>
            {% if user.dateUpdate != null %}
                <p>{{ "Modifié le " ~ user.dateUpdate|date('d/m/Y') }}</p>
            {% endif %}
        </div>

        <h2>Threads créer</h2>
        {% for thread in user.relationThread %}
            <div class="lineThread">
                <div class="d-flex align-items-center">
                    <h3>{{ thread.title }}</h3>
                    <p class="ms-4 mb-0">{{ "Posté le " ~ thread.createdAt|date('d/m/Y') ~ " à " ~ thread.createdAt|date('H:i')}}</p>
                </div>
                <div class="tags">
                    {% for category in thread.relationCategory %}
                        <p class="tag">{{ category.title }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <h2>Threads participé</h2>
        {% for response in user.relationResponse %}
            <div class="lineThread">
                <div class="d-flex align-items-center">
                    <h3>{{ response.title }}</h3>
                    <p class="ms-4 mb-0">{{ "Posté le " ~ thread.createdAt|date('d/m/Y') ~ " à " ~ thread.createdAt|date('H:i')}}</p>
                </div>
                <div class="tags">
                    {% for category in thread.relationCategory %}
                        <p class="tag">{{ category.title }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    {% endif %}
{% endblock %}
