{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block main %}
    {% if app.user != null and id == app.user.id %}
        {# Page privé #}
        <h1>{{ user.username }}</h1>
        <div class="d-flex justify-content-between">
            <div>
                <p>{{ "Compte créer le " ~ user.createdAt|date('d/m/Y') }}</p>
                {% if user.dateUpdate != null %}
                    <p>{{ "Modifié le " ~ user.dateUpdate|date('d/m/Y') }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column">
                <a href="{{ path('app_editUser', {id: user.id}) }}" class="btn btn_full">Modifier</a>
                <form class="mt-2" action="{{ path('app_deleteUser', {id: user.id}) }}" method="post">
                    {# Pour rendre le DELETE actif, aller dans config, packages, framework pour y ajouter : http_method_override: true #}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn_outline">Supprimer</button>
                </form>
            </div>
        </div>
        {% include "/components/profile.html.twig" %}

    {% endif %}

    {% if app.user == null or id != app.user.id %}
        {# Page publique #}
        <h1>{{ user.username }}</h1>
        <div>
            <p>{{ "Compte créer le " ~ user.createdAt|date('d/m/Y') }}</p>
            {% if user.dateUpdate != null %}
                <p>{{ "Modifié le " ~ user.dateUpdate|date('d/m/Y') }}</p>
            {% endif %}
        </div>
        {% include "/components/profile.html.twig" %}
    {% endif %}
{% endblock %}